{% extends "base.html" %}
{% block content %}

<a href="/statistics/"> Usage statistics </a>
<a href="/artist/"> Artists statistics </a>
<p>

<h2> Artists </h2>
{% for artist in library.top_artist %}
  {{forloop.counter}}) {{artist.0}}. Play count: {{artist.1}} <br>
{% endfor %}
<h2> Albums </h2>
{% for album in library.top_album %}
<h3> {{forloop.counter}}) {{album.0}} by: {{album.2.0.artist}}. Total play count: {{album.1}}</h3>
<img id="album_cover" src = {{album.3}} width="150px" height="150px">
  {% for song in album.2 %}
    {{forloop.counter}}. {{song.name}}. Play count: {{song.play_count}}<br>
  {% endfor %}
{% endfor %}
</p>
<h2> Genre </h2>
{% for genre in library.top_genre %}
  {{forloop.counter}}) {{genre.0}}. Play count: {{genre.1}}<br>
{% endfor %}

{% endblock %}

