<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/general.css">
    <script language="javascript" type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.8.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{MEDIA_URL}}jqplot/jquery.jqplot.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}jqplot/jquery.jqplot.css" />
    <script type= "text/javascript" src="{{MEDIA_URL}}plugins/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}plugins/jqBarGraph.1.1.min.js"></script>

    <meta name="Share your music like never before">
  </head>

    <title>{% block title %}Musicbook{% endblock %}</title>
    <ul id="list-nav">
      <li><a href="/home/"> Home                 </a></li>
      <li><a href="/top_listen/"> Top listen </a></li>
      <li><a href="/logout/"> Log out            </a></li>
    </ul>
    <br>
    <br>

  <body>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
