{% extends "base.html" %}
{% block content %}

<p>
<h2> General usage</h2>
Number of songs: {{library.numberSongs}} <br>
You have listened to {{library.listenedSongs}} songs <br>
For a total time of {{library.DMH}} of music <br>
Cumulative play count: {{library.totalPlayCount}} <br>

<h3> Song Quality</h3>
<div id="chart2" style="height:300px; width:500px;"></div>

<h3> Song length</h3>
<div id="chart3" style="height:300px; width:500px;"></div>
Number of minutes

<script class="code" type="text/javascript">
$(document).ready(function(){
  $('#chart2').jqBarGraph({ 
      data: {{songQuality|safe}},
      title:"Quality of songs in kpbs",

    }); 

  $('#chart3').jqBarGraph({ 
      data: {{lenght|safe}},
      title:"Numer of song by length in minutes",
    }); 
});
</script>
{% endblock %}

