{% extends "base.html" %}
{% block content %}
<form action="/upload_library/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.library.label_tag }} {{ form.library.help_text }}</p>
    <p>
        {{ form.library.errors }}
        {{ form.library }}
    </p>
    <p><input onclick="doCSRFstuff()"="submit" value="Upload" /></p>
</form>
<script>
function doCSRFstuff() {
  $('html').ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                          var cookie = jQuery.trim(cookies[i]);
                          if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                      }
                }
              return cookieValue;
          }
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
          }
  });
}
</script>
{% endblock %}
