
* {
  margin: 0;
  font-family: "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
}
html{
  height: 100%;
  margin: 0px;
  background-color:black;
}

body {
  line-height: 29px;
  position: relative;
  line-height: 26px;
  background: url('../static-images/bg.jpg') repeat-x #e8e4d9;
}

#header{
  text-color: white;
  position: relative;
  box-sizing:border-box;
 -moz-box-sizing:border-box; /* Firefox */
 -webkit-box-sizing:border-box; /* Safari */
 -moz-box-shadow: 0 0 5px 5px #888;
 -webkit-box-shadow: 0 0 5px 5px#888;
 box-shadow: 0 0 5px 5px #888;
}

p.home {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;  font-size: 28px;
  line-height: 32px;
  text-align: center;
}

a {
  font-family: "giro", serif;
  color: #800000 ;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

.Ap {
  font-family: "Copperplate / Copperplate Gothic Light", sans-serif;
  color: #003EEE;
}

.Ap:hover {
  text-decoration: none;
}

.Afooter{
  color: #FFFFFF;
}

div#content{
  top: 10px;
  text-align: left;
width: 800px;
margin: 0px auto;

div.footer {
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-top: 1px solid gray; /* TODO: fix */
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
  text-align: center;
}

.navbar {
  margin: 07px;
  line-height: 0px;
  text-align:left;
  font-size: 24px;
  display: block;
}
a.nav_bar {
  color: black;
}
nav { 
  text-align: right;
}
#me {
  border: 2px solid white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

div.lines{
  line-height:6px;
}

hr {
  margin: 1px;
}
