{% extends "base.html" %}
{% block content %}

<a href="/statistics/"> get stats </a>
<p>
<h2> General usage</h2>
You have {{library.numberSongs}} songs in your library <br>
You have listened to {{library.numberListened}} songs <br>{# , x100(self. numberListened, self.numberSongs) ) #}
For a total time of {{DMH}} of music <br>
Cumulative play count: {{library.totalPlayCount}} <br>
<h2> Artists </h2>
{% for artist in library.top_artist %}
  {{forloop.counter}}) {{artist.0}}. Play count: {{artist.1}}<br>
{% endfor %}
<h2> Albums </h2>
{% for album in library.top_album %}
<h3> {{forloop.counter}}) {{album.0}}: total play count: {{album.1}}</h3>
  {% for song in album.2 %}
    {{forloop.counter}}. {{song.name}}. Play count: {{song.play_count}}<br>
  {% endfor %}
{% endfor %}
</p>
<script>
function calculatePercentage ( newval, oldval) {
    return  ((newval) / oldval) * 100;
}
</script>
{% endblock %}

